{{define "content"}}
<div class="feed-tabs">
  {{if .Hot}}
  <a class="feed-tab" href="/{{if .ActiveCat}}?cat={{.ActiveCat}}{{end}}">最新</a>
  <a class="feed-tab on" href="/?tab=hot{{if .ActiveCat}}&cat={{.ActiveCat}}{{end}}">热帖</a>
  {{else}}
  <a class="feed-tab on" href="/{{if .ActiveCat}}?cat={{.ActiveCat}}{{end}}">最新</a>
  <a class="feed-tab" href="/?tab=hot{{if .ActiveCat}}&cat={{.ActiveCat}}{{end}}">热帖</a>
  {{end}}
</div>
<div class="cat-pills">
  {{if eq .ActiveCat ""}}<a class="cat-pill on" href="/{{if .Hot}}?tab=hot{{end}}">全部</a>
  {{else}}<a class="cat-pill" href="/{{if .Hot}}?tab=hot{{end}}">全部</a>{{end}}
  {{range .Categories}}
  {{if eq $.ActiveCat .Slug}}<a class="cat-pill on" href="/?cat={{.Slug}}{{if $.Hot}}&tab=hot{{end}}">{{.Name}}</a>
  {{else}}<a class="cat-pill" href="/?cat={{.Slug}}{{if $.Hot}}&tab=hot{{end}}">{{.Name}}</a>{{end}}
  {{end}}
</div>

{{if .IsEmpty}}
<p class="empty">还没有主题,来发第一帖吧</p>
{{else}}
<div class="thread-card">
  {{range .Threads}}{{template "thread_row" .}}{{end}}
</div>
{{template "pagination" .}}
{{end}}
{{end}}
